# Core app
streamlit>=1.36
pandas>=2.2
numpy>=1.26
python-dateutil>=2.9

# Market data
yfinance>=0.2.40
pandas-datareader>=0.10.0

# Visualization
matplotlib>=3.8
altair>=5.2

# Misc
certifi>=2024.7.4
